.row{
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5); */
    /* margin-top: 4 rem; */
    padding-bottom: .1rem;
    /* border:1px solid rgba(128, 128, 128, 0.408); */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);

}
#searchInput{
    border:1px rgb(166, 225, 245) solid;
    height: 2rem;
    width:30%;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(184, 196, 202, 0.256);

}
input:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
    border:5px rgb(49, 135, 164) solid;

}

thead{
    background-color: skyblue;
}
.flex{
    margin:2rem 2rem -1rem 3rem;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    padding-top: 1rem;


}
i:hover{
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    transform: scale(1.2 ,1.2);
    transition: 0s;
}


table{
    border: 1px solid skyblue;
}
button{
    background-color: transparent;
    border-style: none;
    color:white;
}
button:hover{
    transform: scale(1.05 ,1.05);

}