.row{
    height:fit-content;
}
.card{
    box-shadow: 4px 4px 8px -4px blue;
    margin-bottom: 2rem;

}
.card-body{
    text-align: center;
}
input{
    width: 60%;
    border-radius: .2rem;
    border: 1.5px solid #3a8ec5;
}
.input{
    width: 60%;
    border-radius: .2rem;
    border: 1.5px solid #3a8ec5;
    // height: 2rem;
    // border-radius: .5rem;
    // border: 2px solid #3a8ec5;
}

select{
    width: 60%;
    border-radius: .2rem;
    border: 1.5px solid #3a8ec5;
    // height: 2rem;
    // border-radius: .5rem;
    // border: 2px solid #3a8ec5;
}
.purchaseLabel{
    width: 170px;
    height: 10px;
}
.button{
    text-align: center;
}
#save{
    display: inline-block;
    box-shadow: 4px 4px 8px -4px black;
    margin-top: 3rem;
    border:none;
    background-color: #1e72e1;
    border-radius: 5px;
    height:2.5rem;
    width:7rem;
    margin-bottom: 1rem;
    color:white;
   
}
#save:hover{
    background-color: #3a8ec5;
    transform: scale(1.05 ,1.05);

}
.input:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
    border:2px solid #3a8ec5;
    border-radius: .1rem;
    
}
.card-header{
    background-color: #3a8ec5
    ;
    color:white
}

.table{
    background-color: white;
}
.unitLabel{
    width: 100%;
    height: 30px;

    color:#3a8ec5;
}
.label{
    width: 120px;
}
.item{
    margin-top: 1rem;
    padding: 1rem;
    box-shadow: 0px 0px 2px 2px rgba(8, 5, 25, 0.089);
    background-color: #8ab6ef13;
    width:inherit;

}
.second{
    margin-top: 3rem;
}
#add{
    background-color: green;
    border-radius: 20rem;
    height: 3rem;
    width: 3rem;
    color: white;
    // font-size: 3rem;
    border-style: none;
    margin-top: 1rem;
}
#add:hover{
    transform: scale(1.05 ,1.05);
    background-color: rgb(2, 109, 2);

}
#delete{
    border-radius: 20rem;
    height: 2rem;
    width: 2rem;
    color: white;
    // font-size: 3rem;
    border-style: none;
}

@media (min-width:767px) {
    // .item{
    //     max-width: fit-content;
    // }

    .itemCSS{
        // width: 50%;
    } 

    .selectCSS{
        width: 60%;
        height: 55%;
        // margin-right: 8rem;
    }
    
    .item{
        display:flex;
        flex-wrap: wrap;
        // flex-direction: row;
        
    }
    .itemLabel{
        // width: 100rem;
        // background-color: blue;
    }
    .itemLabel{
        width:130px;
    }

}
@media (max-width:767px) {
    .itemLabel{
        width:170px
    }
}

