

<div *ngIf="showFlash" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Successfully Added !!</strong> 
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <div *ngIf="showFlashError" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Error !!</strong>&nbsp;{{errorMessage}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

<div class="row m-4">
    <div class="row col-md-12 border card p-0">
        <div class="card-header">
            Purchase
        </div>
        <div class="card-body row m-0 p-4">
           

            <div class=" itemName row col-md-4 col-12">
                <div class="left">
                    <label class="label">Vendor Name </label>
                    <select (change)="getSelectedVendor($event)" [(ngModel)]="purchase.Vendor_Name" style="margin-bottom: .5rem;">
                        <option>Select</option>
                        <option *ngFor="let vendor of getVendorList">{{vendor.party_Name}}-{{vendor.phone_No}}</option>
                    </select>


                    <div class="auto"  style="width: inherit;">            
                        
                       
                       
                            <label class="autocome" type="text"  id="Address" [(ngModel)]="purchase.Address" ></label>
                        
                            <span *ngIf="show"> ,</span><label class="autocome" type="text" id="City" [(ngModel)]="purchase.City"></label>
                       
                        <!-- <label  type="text" [(ngModel)]="purchase.GST_No" id="GST_No">{{getVendor.gsT_No}}</label> -->

                        <div class="autocome" >
                          <span *ngIf="show">GST No :</span>  <label  type="text"  id="GST_No" [(ngModel)]="purchase.GST_No" ></label>
                        </div>
                   
                      <div >
                        <label  class="autocome" type="number"  id="phone" [(ngModel)]="purchase.Phone_No"></label>
                      </div>


                    </div>
              </div>
                </div>
            
                <div class="right  col-md-4 col-12"  >
                  

                   

                   

                    <label class="purchaseLabel">Purchase Order No</label>
                <input class="input" type="text" [(ngModel)]="purchase.Purchase_Order_No" id="purchaseOrderNo" oninput="this.value = this.value.toUpperCase()">

                <br>

              

                <label class="purchaseLabel">Purchase Order Date</label>
                <mat-form-field>
                    <input matInput [matDatepicker]="datepicker" [(ngModel)]="purchase.Purchase_Order_Date"  class="inputDate" [max]="today" placeholder="{{maxDate}}">
                    <mat-datepicker-toggle  [for]="datepicker" matSuffix style="z-index: 500;"></mat-datepicker-toggle>
                    <mat-datepicker #datepicker></mat-datepicker>
                </mat-form-field>                    
                </div>
                <div class=" col-md-4 col-12"  >
                    <label class="purchaseLabel">Purchase Invoice No</label>
                    <input class="input" type="text" [(ngModel)]="purchase.Purchase_Invoice_NO" id="purchaseInvoiceNO" oninput="this.value = this.value.toUpperCase()">

                    <br>
                    <label class="purchaseLabel">Purchase Invoice Date</label>
                    <mat-form-field>
                        <input  matInput [matDatepicker]="picker" [(ngModel)]="purchase.Purchase_Invoice_Date" class="inputDate"  [max]="today" placeholder="{{maxDate}}">
                        <mat-datepicker-toggle  [for]="picker" matSuffix></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                   
   
                    <br>
                    </div>

             
               
<br>
<br>
<div class="sec"  *ngIf="showItem">
    <div class="second" >

        <label class="addItemLabel" for="addItems">Add Items  to your purchase</label>
                        <div  id="addItems"> 
                            <div *ngFor="let purchaseTran of itemArray; let i=index"  >
                                <div class="item">
                                    <div class="items" >
                                        <div class="quantity">
                                            <label class="itemLabel"></label><br>
        
                                            <label class="itemLabel">Item </label>
                                            <select  class="selectCSS"  name="fieldName" ngDefaultControl [(ngModel)]="purchaseTran.ItemName" (change)="getItemDetails($event , i)" style="width: 90%;">
                                                <option >Select</option>
                                                <option  *ngFor="let item of getItem" >{{item.itemName}}</option>
                                            </select>
                                        </div>
                                        <!-- <div class="quantity  ">
                                            <label class="itemLabel">HSN No  </label>
                                            <input  type="text" class="itemCSS" name="fieldName" ngDefaultControl [(ngModel)]="purchaseTran.HSN_No" id="HSN_No{{i}}"  >
                                    
                                        </div> -->
                                        <div class="quantity" id="quantityUnit">
                                            <label class="itemLabel"></label><br>
        
                                                <label class="itemLabel">Quantity</label>
                                                <input name="r"   type="number" class="itemCSS" name="Quantity{{i}}" ngDefaultControl [(ngModel)]="purchaseTran.Quantity" id="Quantity{{i}}" oninput="javascript: if (this.value < 0) {alert('Please enter Positive Quantity')}" (ngModelChange)="calculate(purchaseTran, i );">
                                           
                                           
                                                <label  name="Unit{{i}}" ngDefaultControl [(ngModel)]="purchaseTran.Unit" id="Unit{{i}}">{{purchaseTran.Unit}}</label>     
                                          
                                           
                                        </div>     
                                        <div class="quantity  ">
                                            <label class="itemLabel"></label><br>
                                            <label class="itemLabel">Price</label>
                                            <input  type="number" class="itemCSS" name="Price{{i}}" ngDefaultControl [(ngModel)]="purchaseTran.Price" value={{purchaseTran.Price}} id="Price{{i}}" oninput="javascript: if (this.value < 0) {alert('Please enter Positive Quantity');} " (ngModelChange)="calculate(purchaseTran , i);">
                                        </div>
                                        <div class="quantity  ">
                                            <label class="itemLabel">Total</label><br>
                                            <label class="itemLabel"> Amount</label>
                                            <input readonly   class="itemCSS" name="fieldName" ngDefaultControl [(ngModel)]="purchaseTran.Total_Amount"  id="Price{{i}}" oninput="javascript: if (this.value < 0) alert('Please enter Positive Quantity') " onchange="(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)">
                                        </div>
                                        <div class="quantity  ">
                                            <label class="itemLabel">Discount</label><br>
                                            <label class="itemLabel">(%) </label><br>
                                            <input  style="width: 60%;" type="number" class="itemCSS" name="fieldName" ngDefaultControl [(ngModel)]="purchaseTran.Discount"  id="Price{{i}}" oninput="javascript: if (this.value < 0) alert('Please enter Positive Quantity') " (ngModelChange)="calculate(purchaseTran , i);" onchange="(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)"><br>
                                            <label name="fieldName" ngDefaultControl [(ngModel)]="purchaseTran.DiscountPrice">{{purchaseTran.DiscountPrice}}</label>
                                        </div>
                                        <div class="quantity  ">
                                            <label class="itemLabel">Disc</label><br>
                                            <label class="itemLabel">Price </label>
                                            <input  readonly class="itemCSS" name="Price{{i}}" ngDefaultControl [(ngModel)]="purchaseTran.Disc_Price"  id="Price{{i}}" oninput="javascript: if (this.value < 0) alert('Please enter Positive Quantity') ">
                                        </div>
                                        <div class="quantity  " *ngIf="gst">
                                            <label class="itemLabel">IGST</label><br>
                                            <label class="itemLabel">({{purchaseTran.IGST}}%)</label>
                                            <input  readonly type="number" class="itemCSS" name="IGST{{i}}" ngDefaultControl [(ngModel)]="purchaseTran.IGSTAmount" id="IGST{{i}}" (ngModelChange)="calculate(purchaseTran , i);">
                                        </div>
                                        <div class="quantity  " *ngIf="!gst">
                                            <label class="itemLabel">CGST </label><br>
                                            <label class="itemLabel">({{purchaseTran.CGST}}%) </label>
                                            <input  readonly type="number" class="itemCSS" name="CGST{{i}}" ngDefaultControl [(ngModel)]="purchaseTran.CGSTAmount" id="CGST{{i}}" (ngModelChange)="calculate(purchaseTran , i);">
                                            <!-- <label class="labelWidth">{{purchaseTran.CGSTLabel}}</label> -->
                                        </div>
                                        <div class="quantity  " *ngIf="!gst">
                                            <label class="itemLabel">SGST</label><br>
                                            <label class="itemLabel">({{purchaseTran.SGST}}%) </label>
                                            <input  readonly  type="number" class="itemCSS" name="SGST{{i}}" ngDefaultControl [(ngModel)]="purchaseTran.SGSTAmount" id="SGST{{i}}"  oninput="javascript: if (this.value < 0) alert('Please enter Positive Quantity') "(ngModelChange)="calculate(purchaseTran , i);">
                                            <!-- <label class="labelWidth">{{purchaseTran.SGSTLabel}}</label> -->
                                        </div> 
                                        <div class="quantity  ">
                                            <label class="itemLabel">Net</label><br>
                                            <label  class="itemLabel"> Amount</label>
                                            <input   class="itemCSS" name="Net_Amount{{i}}" ngDefaultControl [(ngModel)]="purchaseTran.Net_Amount" id="Net_Amount{{i}}" oninput="javascript: if (this.value < 0) alert('Please enter Positive Quantity') ">
                                        </div>
                                    
                                    <!-- <mat-icon aria-hidden="false" aria-label="Example home icon">Clear</mat-icon> -->
                                   
                                </div>
                                <button class="deleteButton float-end" style="background-color: inherit; border:none;padding:1rem;margin-top: 1rem;">
                                    <span class="material-icons float-end" id="delete"  (click)="removevalue(i)" style="color: red; float: end;" >
                                        delete_outline
                                        </span>
                                   </button>
                            </div>
                                
                            </div>
                        </div>
        </div>
                 
               
                  
            <div  >
                <button (click)="addvalue()" id="add" class="float-end" >+</button>
                <!-- <button id="save" (click)="editPurchase($event)" *ngIf="buttonEdit" value={{purchase.}}>Edit purchase</button> -->
    
            </div>
            <div *ngFor="let value of itemArray;">
                {{value.value}}
            </div>
</div>

    <br>
        <div class="button">
            <button (click)="savePurchase()" id="save">Save</button>
        </div>
        <!-- <div class="table">
            <app-purchase-item-table></app-purchase-item-table>
            <!-- <app-purchase-table (parentFun)="getpurchaseDataToInput class="input"($event)" (parentPropAdd)="buttonAdd" (parentPropEdit)="buttonEdit"></app-purchase-table> -->
      <!-- </div> --> 
    </div>
    
    
    </div>
  
