

<div *ngIf="showFlash" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Successfully Added !!</strong> 
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <div *ngIf="showFlashError" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Error !!</strong>&nbsp;{{errorMessage}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

<div class="row m-4">
    <div class="row col-md-12 border card p-0">
        <div class="card-header">
            purchase
        </div>
        <div class="card-body row m-0 p-4">
           
              <div class=" itemName row col-md-6 col-12">
                <div class="left">
                    <label class="label">Vendor Name </label>:
                    <select (change)="getSelectedVendor($event)" [(ngModel)]="purchase.Vendor_Name">
                        <option>--------select------------</option>
                        <option *ngFor="let vendor of getVendorList">{{vendor.party_Name}}-{{vendor.phone_No}}</option>
                    </select>
                    <div class="auto">
                        <label class="label">Address </label>:
                        <label  type="text" [(ngModel)]="purchase.Address" id="Address"></label>
                        
                        <br>

                        <label class="label"> City </label>:
                        <label  type="text" [(ngModel)]="purchase.City" id="City"></label>

                        <br>

                        <label class="label">Phone No</label>:
                        <label  type="text" [(ngModel)]="purchase.Phone_No" id="phone"></label>

                    </div>
              </div>
                </div>
                <div class="right  col-md-6 col-12" >
                    <label class="purchaseLabel">Purchase Date</label>:
                    <!-- <mat-form-field>
                        <input  matInput [matDatepicker]="mypicker" [(ngModel)]="purchase.purchaseDate" >
                        <mat-datepicker-toggle  [for]="mypicker" matSuffix></mat-datepicker-toggle>
                        <mat-datepicker #mypicker></mat-datepicker>
                    </mat-form-field> -->
                    <mat-form-field>
                        <mat-label>From</mat-label>
                        <input matInput [matDatepicker]="mypicker"[(ngModel)]="purchase.purchaseDate"  >
                        <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                        <mat-datepicker-toggle  [for]="mypicker" matSuffix ></mat-datepicker-toggle>
                        <mat-datepicker #mypicker ></mat-datepicker>
                      </mat-form-field>

                    <br>

                    <label class="purchaseLabel">Purchase Invoice No</label>:
                    <input class="input" type="text" [(ngModel)]="purchase.Purchase_Invoice_NO" id="purchaseInvoiceNO">

                    <br>

                    <label class="purchaseLabel">Purchase Invoice Date</label>:
                    <mat-form-field>
                        <input  matInput [matDatepicker]="picker" [(ngModel)]="purchase.Purchase_Invoice_Date" >
                        <mat-datepicker-toggle  [for]="picker" matSuffix></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                   

                    <br>

                    <label class="purchaseLabel">Purchase Order No</label>:
                <input class="input" type="text" [(ngModel)]="purchase.Purchase_Order_No" id="purchaseOrderNo">

                <br>

                <label class="purchaseLabel">Purchase Order Date</label>:
                <mat-form-field>
                    <input  matInput [matDatepicker]="datepicker" [(ngModel)]="purchase.Purchase_Order_Date" >
                    <mat-datepicker-toggle  [for]="datepicker" matSuffix></mat-datepicker-toggle>
                    <mat-datepicker #datepicker></mat-datepicker>
                </mat-form-field>                    
                </div>
               
<br>
<br>

<div class="second">
<!-- <div class="item" >
    <div class="itemName">
        <label class="itemLabel">Item : </label>
        <select class="selectCSS" [(ngModel)]="purchase.ItemName" (change)="getItemDetails($event)" >
            <option  *ngFor="let item of getItem" >{{item.itemName}}</option>
        </select>
    </div>
    <div class="HSN  ">
        <label class="itemLabel">HSN No : </label>
        <input class="input" type="text" class="itemCSS" [(ngModel)]="purchase.HSN_No" id="HSN_No"  name="hsn_no">

    </div>
    <div class="quantity  ">
        <label class="itemLabel">Quantity : </label>
        <input class="input" type="text" class="itemCSS" [(ngModel)]="purchase.Quantity" id="Quantity"    name="quantity">
    </div>
    <div class="unit  ">
        <label class="itemLabel">Unit : </label>
        <select class="selectCSS"[(ngModel)]="purchase.Unit"    name="unit">
            <option *ngFor="let unit of getUnitList">{{unit.unit}}</option>
        </select>                  
    </div>
    <div class="quantity  ">
        <label class="itemLabel">Price : </label>
        <input class="input" type="text" class="itemCSS" [(ngModel)]="purchase.Price"  id="Price">
    </div>
    <div class="quantity  ">
        <label class="itemLabel">Tax : </label>
        <input class="input" type="text" class="itemCSS" [(ngModel)]="purchase.Tax" id="Tax"    name="tax">
    </div>
    <div class="quantity  ">
        <label  class="itemLabel">Total Amount : </label>
        <input class="input" type="text" class="itemCSS" [(ngModel)]="purchase.Total_Amount" id="t_amount" >
    </div>
    <div>
        <label class="itemLabel"></label>
        <button class="bg-danger float-end" id="delete" >X</button>

    </div>

</div> -->
                    <div *ngFor="let purchase of itemArray; let i=index" >
                        <div class="item  " >
                            <div class="itemName">
                                <label class="itemLabel">Item : </label>
                                <select class="selectCSS" [(ngModel)]="purchase.ItemName" (change)="getItemDetails($event , i)" >
                                    <option  *ngFor="let item of getItem" >{{item.itemName}}</option>
                                </select>
                            </div>
                            <div class="HSN  ">
                                <label class="itemLabel">HSN No : </label>
                                <input class="input" type="text" class="itemCSS" [(ngModel)]="purchase.HSN_No" id="HSN_No{{i}}"  >
                        
                            </div>
                            <div class="quantity  ">
                                <label class="itemLabel">Quantity : </label>
                                <input class="input" type="text" class="itemCSS" [(ngModel)]="purchase.Quantity" id="Quantity"  >
                            </div>
                            <div class="unit  ">
                                <label class="itemLabel">Unit : </label>
                                <select class="selectCSS"[(ngModel)]="purchase.Unit"   >
                                    <option *ngFor="let unit of getUnitList">{{unit.unit}}</option>
                                </select>                  
                            </div>
                            <div class="quantity  ">
                                <label class="itemLabel">Price : </label>
                                <input class="input" type="text" class="itemCSS" [(ngModel)]="purchase.Price"  id="Price{{i}}">
                            </div>
                            <div class="quantity  ">
                                <label class="itemLabel">Tax : </label>
                                <input class="input" type="text" class="itemCSS" [(ngModel)]="purchase.Tax" id="Tax"    name="tax">
                            </div>
                            <div class="quantity  ">
                                <label  class="itemLabel">Total Amount : </label>
                                <input class="input" type="text" class="itemCSS" [(ngModel)]="purchase.Total_Amount" id="t_amount" >
                            </div>
                            <div>
                                <label class="itemLabel"></label>
                                <button class="bg-danger float-end" id="delete"  (click)="removevalue(i)">X</button>
                        
                            </div>
                        
                        </div>
                    </div>
</div>
           
              
        <div class="button" >
            <button (click)="addvalue()" id="add" class="float-end" >+</button>
            <!-- <button id="save" (click)="editPurchase($event)" *ngIf="buttonEdit" value={{purchase.}}>Edit purchase</button> -->

        </div>
        <div *ngFor="let value of itemArray;">
            {{value.value}}
        </div>
    <br>

    <button (click)="savePurchase()" id="save">Save</button>
        <!-- <div class="table">
            <app-purchase-item-table></app-purchase-item-table>
            <!-- <app-purchase-table (parentFun)="getpurchaseDataToInput class="input"($event)" (parentPropAdd)="buttonAdd" (parentPropEdit)="buttonEdit"></app-purchase-table> -->
      <!-- </div> --> 
    </div>
    
    
    </div>
  
