<!--<c-header class="mb-4 d-print-none" position="sticky">-->
<ng-container style="background-color: rgb(16, 85, 196);padding: 0 !important;">
  <c-container [fluid]="true" style="background-color: rgb(16, 85, 196); padding: .7rem;" class="d-flex">
    <button
      toggle="visible"
      cHeaderToggler
      [cSidebarToggle]="sidebarId"
      class="ps-1"
      style="background-color:rgb(16, 85, 196); border-style: none; color: white;">
      <svg cIcon
        name="cilMenu"
        size="lg"
      ></svg>
    </button>
    <c-header-nav class="d-none d-lg-flex me-auto">
      <c-nav-item>
        <a cNavLink routerLink="/dashboard" routerLinkActive="active" style="color: white;">
          Dashboard
        </a>
      </c-nav-item>
     
     
    </c-header-nav>

    <c-header-nav class="d-none d-lg-flex">
      <!-- <c-nav-item>
        <a routerLink="./" cNavLink>
          <svg cIcon name="cilBell" size="lg"></svg>
        </a>
      </c-nav-item> -->
      <!-- <c-nav-item>
        <a routerLink="./" cNavLink>
          <svg cIcon name="cilList" size="lg"></svg>
        </a>
      </c-nav-item> -->
      <c-nav-item>
        <a routerLink="./" cNavLink>
          <svg cIcon name="cilEnvelopeOpen" size="lg" style="color: white;"></svg>
        </a>
      </c-nav-item>
    </c-header-nav>
    <c-header-nav class="ms-3">
      <ng-container *ngTemplateOutlet="userDropdown"></ng-container>
    </c-header-nav>

  </c-container>
  <c-header-divider></c-header-divider>
  <c-container [fluid]="true">
    <c-breadcrumb-router class="ms-2"></c-breadcrumb-router>
  </c-container>
</ng-container>
<!--</c-header>-->

<ng-template #userDropdown>
  <c-dropdown alignment="end" variant="nav-item">
    <button
      cButton
      color=""
      [caret]="false"
      cDropdownToggle
      class="py-0"
    >
      <c-avatar
        cTextColor="primary"
        shape="rounded-1"
        size="md"
        src="../assets/img/avatar.webp"
       
      >
      </c-avatar>
    </button>
    <ul cDropdownMenu class="pt-0 m-2">
     
     
      
      <li>
        <h6 cDropdownHeader class="bg-danger fw-semibold py-2">Settings</h6>
      </li>
      <li></li>
      <li>
        <a routerLink="./" cDropdownItem>
          <svg cIcon class="me-2" name="cilUser"></svg>
          Profile
        </a>
      </li>
      <li>
        <a routerLink="./" cDropdownItem>
          <svg cIcon class="me-2" name="cilSettings"></svg>
          Settings
        </a>
      </li>
      
     
      <li>
        <hr cDropdownDivider/>
      </li>
      <li>
        <a routerLink="./" cDropdownItem>
          <svg cIcon class="me-2" name="cilLockLocked"></svg>
           <button (click)="logout()" style="border-style: none;background-color: white;">Logout</button>
        </a>
      </li>
      <li></li>
    </ul>
  </c-dropdown>
</ng-template>

