<div *ngIf="showFlash" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Successfully Added !!</strong> 
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <div *ngIf="showFlashError" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Error !!</strong>&nbsp;{{errorMessage}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  
  <div class="row m-4">
  <div class="row col-md-12 border card p-0">
      <div class="card-header">
          Transport
      </div>
      <div class="card-body row m-0 p-4">
         
            <div class=" TransportName col-md-6 col-12">
                <label>Transporter Name </label>
                <input [(ngModel)]="Transport.Transporter_Name" id="Transporter_Name" oninput="this.value = this.value.toUpperCase()">
            </div>
            <br>
            <br>
            <div class="group col-md-6 col-12 float-right">
              <label>GST No </label>
              <br>
              <input [(ngModel)]="Transport.GST_No" id="GST_No" oninput="this.value = this.value.toUpperCase()"> 

              <!-- <select [(ngModel)]="Transport.Phone_No" >
                <option >Primary</option>
                <option id="groupSelect" *ngFor="let group of getGroups"  value={{group.groupCategory}} >{{group.groupName}}/{{group.groupCategory}}</option>
  
            </select> -->
            </div>
  <br>
  <br>
            <div class=" TransportName col-md-6 col-12">
              <label>Address</label>
              <input [(ngModel)]="Transport.Address" id="Address">
          </div>
          <br>
          <br>
          <div class="group col-md-6 col-12">
            <label>Phone No </label>
              <br>
              <input [(ngModel)]="Transport.Phone_No" id="Phone_No" > 
            
          </div>
  
  <br>
  <br>
            <div class=" TransportName col-md-6 col-12">
              <label>City</label>
              <input [(ngModel)]="Transport.City" id="City" oninput="this.value = this.value.toUpperCase()">

              <!-- <select [(ngModel)]="Transport.IGST" (change)="fillCgst($event)">
                <option *ngFor="let tax of getTax" value={{tax.taxPerc}}>{{tax.taxType|uppercase}} </option>
              </select> -->
              <!-- <input [(ngModel)]="Transport.GST" oninput="javascript: if (this.value < 0) alert('Please enter Positive Quantity') ">  -->
          </div>
         
           <br>
          <br>
          <div class="group col-md-6 col-12">
            <label>Email </label>
            <input [(ngModel)]="Transport.Email" id="Email" oninput="javascript: if (this.value < 0) alert('Please enter Positive Quantity') ">
          </div>
  
  <br>
  <br><div class="group col-md-6 col-12">
    <label>State</label>
    <input [(ngModel)]="Transport.State"  id='State' oninput="this.value = this.value.toUpperCase()" >
  </div>

  <br>
  <br><div class="group col-md-6 col-12">
    <label>Contact Person</label>
    <input [(ngModel)]="Transport.Contact_Person" id="Contact_Person" oninput="this.value = this.value.toUpperCase()">
  </div>
  
  
                            
          
      </div>
  
      <div class="button">
          <button id="save" (click)="save()" *ngIf="buttonAdd">Add </button>
          <button id="save" (click)="Edit($event)" *ngIf="buttonEdit" value={{Transport.GST_No}}>Edit </button>
      </div>
  <br>
      <div class="table">
        <app-transport-table (parentFun)="getGroupDataToInput($event)" ></app-transport-table>
      </div>
  </div>
  
  
  </div>
  